<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gob'l</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Slab|Lobster" rel="stylesheet">
  </head>
  <body>
    <div class="nav_bar">
      <h5>Gob'l</h5>
      <a href="/">Home</a>
      <form action="/home/logout" method="post">
        <button type="submit">Log Out</button>
      </form>
    </div>
    {{{yield}}}
  </body>
</html>
