*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100vw;
}

.heading{
  background-color: #734B5E;
  display: flex;
  height: 15vh;
}

.image:hover{
  cursor: pointer;
}

.heading img{
  height: 20vh;
  width: 20vh;
  border-radius: 100%;
  position: relative;
  top: 3rem;
  left: 3rem;
}

.name {
  position: relative;
  top: 2.5rem;
  left: 6rem;
}

.startdate {
  position: relative;
  top: 5.8rem;
  left: 40rem;
}

.body{
  display: flex;
  height: 77vh;
}

.sidebar{
  background-color: #D4D2A5;
  width: 18vw;
  padding: 6rem 1rem;
}

.sidebar *{
  margin: 2rem 0;
}

.posts{
  background-color: #FCDEBE;
  width: 82vw;
  overflow-y: scroll;
}

.post {
  background-color: #EDEBD7;
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: 2px 1px 3px #555;
}

.buttons {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.buttons > * {
  margin-right: 1rem;
}

.input-form {
  border: 2px dotted green;
  background: transparent;
  z-index: 2;
  position: absolute;
  left: 12.5rem;
}

.input-form input{
  padding: 5px;
}

.input-form input {
  padding: 13px;
  width: 60vw;
  font-size: 1.5em;
}

.hidden{
  display: none;
}

.author {
  font-size: 1.5em;
}

.author p {
  text-decoration: underline;
  margin-bottom: 1rem;
}

.post_body {
  text-align: center;
  font-size: 1.2em;
}

button {
  padding: 7px;
  border: none;
  background-color: #587D71;
  color: wheat;
  font-size: 0.8em;
  box-shadow: 1px 2px 3px #555;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  outline: none;
}

button:focus{
  outline: none;
}


button:hover {background-color: #45635A}

.likes {
  font-size: 0.8em;
  position: relative;
  top: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

a:visited{
  color: black;
}

a:hover{
  text-decoration: underline;
}
