*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav_bar{
  background-color: #E3B23C;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav_bar h5{
  align-self: flex-start;
}
